In [ ]:
!pip install numpy
!pip install pandas
!pip install IPython

In [44]:
import pandas as pd
import numpy as np

In [54]:
poverty = pd.read_csv('resources/poverty.csv')
wdi = pd.read_csv('resources/poverty.csv')
education = pd.read_csv('resources/Data_Extract_From_Education_Statistics_-_All_Indicators.csv')
label = pd.read_csv('resources/label-set.csv')

education = education.replace({'..':np.nan})
wdi = wdi.replace({'..':np.nan})
poverty = poverty.replace({'..':np.nan})
label = label.replace({'..':np.nan})

In [16]:
df = reduce(lambda left,right: pd.merge(left,right,on=['Time', 'Country Code']), [education, label])

In [113]:
#df.to_csv('andmed.csv', index=False) #Create a csv from the data

In [56]:
df = df.loc[df['CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC]'] != 'NaN']

In [57]:
df

,Time,Time Code_x,Country Name_x,Country Code,"Percentage of graduates from tertiary education graduating from Agriculture, Forestry, Fisheries and Veterinary programmes, both sexes (%) [SE.TER.GRAD.AG.ZS]",Government expenditure on education as % of GDP (%) [SE.XPD.TOTL.GD.ZS],"Enrolment in tertiary education, all programmes, both sexes (number) [SE.TER.ENRL]","Percentage of graduates from tertiary education graduating from Natural Sciences, Mathematics and Statistics programmes, both sexes (%) [SE.TER.GRAD.SC.ZS]","Enrolment in primary education, both sexes (number) [SE.PRM.ENRL]",Time Code_y,Country Name_y,CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC]
1052,2016,YR2016,Afghanistan,AFG,NaN,4.22836,NaN,NaN,6265011,YR2016,Afghanistan,0.245101422
1053,2016,YR2016,Albania,ALB,4.12656,3.96209,148597,4.66126,179564,YR2016,Albania,1.577162624
1054,2016,YR2016,Algeria,DZA,1.35872,NaN,1439594,11.84467,4118362,YR2016,Algeria,3.69915599
1056,2016,YR2016,Andorra,AND,0,3.23707,548,0,4248,YR2016,Andorra,6.072370208
1057,2016,YR2016,Angola,AGO,NaN,NaN,253287,NaN,NaN,YR2016,Angola,1.202860579
1058,2016,YR2016,Antigua and Barbuda,ATG,NaN,NaN,NaN,NaN,NaN,YR2016,Antigua and Barbuda,5.896558655
1059,2016,YR2016,Arab World,ARB,NaN,NaN,10951281.7,NaN,46378905.57,YR2016,Arab World,4.712844702
1060,2016,YR2016,Argentina,ARG,NaN,5.54549,3061139,NaN,4775782,YR2016,Argentina,4.619085482
1061,2016,YR2016,Armenia,ARM,5.17879,2.75812,109330,5.25495,148481,YR2016,Armenia,1.755976031
1062,2016,YR2016,Aruba,ABW,0,5.52415,1191,2.22222,NaN,YR2016,Aruba,8.426910901
1063,2016,YR2016,Australia,AUS,NaN,5.27678,1918625,NaN,2179689,YR2016,Australia,15.53922046
1064,2016,YR2016,Austria,AUT,1.64679,5.48435,431124.9548,5.75421,329031.5,YR2016,Austria,7.033335706
1065,2016,YR2016,Azerbaijan,AZE,1.18231,2.90341,207604,3.9462,580980,YR2016,Azerbaijan,3.855347182
1066,2016,YR2016,"Bahamas, The",BHS,NaN,NaN,NaN,NaN,30655,YR2016,"Bahamas, The",4.725277895
1067,2016,YR2016,Bahrain,BHR,0,NaN,40669,1.71111,112179,YR2016,Bahrain,22.22898097
1068,2016,YR2016,Bangladesh,BGD,1.12429,1.53554,2699345,7.9521,NaN,YR2016,Bangladesh,0.533298791
1069,2016,YR2016,Barbados,BRB,NaN,4.95139,NaN,NaN,20731,YR2016,Barbados,4.465128973
1070,2016,YR2016,Belarus,BLR,4.34431,4.94655,443997,2.70928,410487,YR2016,Belarus,6.133707568
1071,2016,YR2016,Belgium,BEL,1.95483,6.45954,508270,3.92056,797390,YR2016,Belgium,8.550513254
1072,2016,YR2016,Belize,BLZ,NaN,7.28477,9097,NaN,52333,YR2016,Belize,1.542847448
1073,2016,YR2016,Benin,BEN,NaN,2.8991,129302,NaN,2267835,YR2016,Benin,0.595647727
1074,2016,YR2016,Bermuda,BMU,NaN,NaN,NaN,NaN,NaN,YR2016,Bermuda,9.486460947
1075,2016,YR2016,Bhutan,BTN,NaN,6.99333,NaN,NaN,96654,YR2016,Bhutan,1.712274453
1076,2016,YR2016,Bolivia,BOL,NaN,NaN,NaN,NaN,1354038,YR2016,Bolivia,1.958514344
1077,2016,YR2016,Bosnia and Herzegovina,BIH,4.33777,NaN,106975,7.30334,161560,YR2016,Bosnia and Herzegovina,6.451938373
1078,2016,YR2016,Botswana,BWA,NaN,NaN,51573,NaN,NaN,YR2016,Botswana,2.935373787
1079,2016,YR2016,Brazil,BRA,2.57929,6.31404,8319089,2.67247,16118565,YR2016,Brazil,2.242393446
1080,2016,YR2016,British Virgin Islands,VGB,NaN,NaN,834,NaN,3309,YR2016,British Virgin Islands,7.245307443
1081,2016,YR2016,Brunei Darussalam,BRN,0,4.42541,11010,NaN,40471,YR2016,Brunei Darussalam,18.25638399
1082,2016,YR2016,Bulgaria,BGR,1.6859,NaN,266707,3.43805,261969,YR2016,Bulgaria,5.851501062
...,...,...,...,...,...,...,...,...,...,...,...,...
13383,1970,YR1970,Syrian Arab Republic,SYR,NaN,NaN,NaN,NaN,NaN,YR1970,Syrian Arab Republic,1.048614913
13385,1970,YR1970,Tanzania,TZA,NaN,NaN,2027,NaN,856213,YR1970,Tanzania,0.130582282
13386,1970,YR1970,Thailand,THA,NaN,NaN,NaN,NaN,NaN,YR1970,Thailand,0.416861175
13388,1970,YR1970,Togo,TGO,NaN,2.1138,NaN,NaN,NaN,YR1970,Togo,0.130003375
13389,1970,YR1970,Tonga,TON,NaN,NaN,0,NaN,17865,YR1970,Tonga,0.304311745
13390,1970,YR1970,Trinidad and Tobago,TTO,NaN,NaN,NaN,NaN,NaN,YR1970,Trinidad and Tobago,9.51893247
13391,1970,YR1970,Tunisia,TUN,NaN,NaN,NaN,NaN,NaN,YR1970,Tunisia,0.739365762
13392,1970,YR1970,Turkey,TUR,NaN,NaN,NaN,NaN,NaN,YR1970,Turkey,1.222603095
13396,1970,YR1970,Uganda,UGA,NaN,NaN,4232,NaN,729522,YR1970,Uganda,0.153610402
13398,1970,YR1970,United Arab Emirates,ARE,NaN,NaN,NaN,NaN,NaN,YR1970,United Arab Emirates,65.01695421
13399,1970,YR1970,United Kingdom,GBR,NaN,NaN,NaN,NaN,NaN,YR1970,United Kingdom,11.7323973
13400,1970,YR1970,United States,USA,NaN,NaN,NaN,NaN,NaN,YR1970,United States,21.11125227
13401,1970,YR1970,Upper middle income,UMC,NaN,NaN,8891124.611,NaN,188462276.9,YR1970,Upper middle income,2.862150253
13402,1970,YR1970,Uruguay,URY,NaN,NaN,NaN,NaN,354096,YR1970,Uruguay,2.043752689
13404,1970,YR1970,Vanuatu,VUT,NaN,NaN,NaN,NaN,18250,YR1970,Vanuatu,0.472457453
13405,1970,YR1970,"Venezuela, RB",VEN,NaN,4.16287,NaN,NaN,NaN,YR1970,"Venezuela, RB",6.542518409
13406,1970,YR1970,Vietnam,VNM,NaN,NaN,NaN,NaN,NaN,YR1970,Vietnam,0.649680094
13409,1970,YR1970,World,WLD,NaN,NaN,31977939.65,NaN,401201714.7,YR1970,World,0.00403549
13410,1970,YR1970,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,YR1970,"Yemen, Rep.",0.027235837
13411,1970,YR1970,Zambia,ZMB,NaN,4.38781,1433,NaN,694670,YR1970,Zambia,0.902037704
13412,1970,YR1970,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,735782,YR1970,Zimbabwe,1.543254754
13413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13414,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN