In [1]:
import pandas as pd
import numpy as np
import math
from IPython.display import HTML, display
import tabulate

In [2]:
# Find 3 countries with the biggest CO2 overall emissions

df = pd.read_csv('andmed.csv')

In [3]:
emissions = {}
countries = set(df['Country Name'])

for country in countries:
    if country != 'World':
        years = df[df['Country Name'] == country]['CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC]']
        if len(years) != np.nan and len(years) > 0:
            average = sum(years) / len(years)    
            if not math.isnan(average):
                emissions[country] = average
            
#Three of the biggest poluters of CO2
sorted(emissions, key=emissions.get, reverse=True)[:3]

['Aruba', 'Qatar', 'United Arab Emirates']

In [4]:
#Just to check the overwhelming results
df[df['Country Name'] == 'Aruba']['CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC]'].tail()

11056    233.488931
11319    258.819846
11582    234.886548
11845    243.870306
12108    281.995733
Name: CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC], dtype: float64

In [5]:
features = ['Final consumption expenditure (annual % growth)', 
            'Manufacturing, value added (annual % growth)', 
            'Enrolment in primary education, both sexes (number) [SE.PRM.ENRL]']
countries = ['Aruba', 'Qatar', 'United Arab Emirates']

for c in countries:
    country = df[df['Country Name'] == c][features]
    print(c)
    display(HTML(tabulate.tabulate(country, tablefmt='html')))

Aruba

Qatar

United Arab Emirates