In [2]:
from sklearn.model_selection import train_test_split
from sklearn import linear_model
import numpy as np
import pandas as pd

In [1]:
import os
from google.colab import drive
drive.mount('/content/drive')
os.chdir("/content/drive/My Drive/Colab Notebooks/IDS")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
failinimi = 'WDI.csv'
data = pd.read_csv(failinimi, delimiter=";", decimal=',')

years = []
for i in range(1960,1981):
  years.append(str(i))
print(years)

#Drop years with sparse data
data = data.drop(data[data.Time.isin(years)].index)
#Drop also columns that has no mean to find features that impact CO2 emissions
data = data.drop(columns=['Time', 'Country Name'])
data = data.dropna()

['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980']

In [4]:
data

       Energy use (kg of oil equivalent per capita)  ...  Fossil fuel energy consumption (% of total)
5551                                    1440.780224  ...                                    90.017182
5554                                    4694.676425  ...                                    92.775579
5555                                    2897.009398  ...                                    83.963760
5559                                     104.861607  ...                                    32.712616
5564                                     353.462764  ...                                     7.291785
...                                             ...  ...                                          ...
14748                                   3278.352078  ...                                    69.886026
14751                                   4605.921389  ...                                    79.081901
14769                                   6888.874114  ...                                    81.502287
14771                                   4130.813646  ...                                    79.676298
14774                                   4761.902615  ...                                    78.995522

[3669 rows x 12 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3669 entries, 5551 to 14774
Data columns (total 12 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Energy use (kg of oil equivalent per capita)                      3669 non-null   float64
 1   GDP per capita growth (annual %)                                  3669 non-null   float64
 2   CO2 emissions (metric tons per capita)                            3669 non-null   float64
 3   Industry (including construction), value added (annual % growth)  3669 non-null   float64
 4   Manufacturing, value added (annual % growth)                      3669 non-null   float64
 5   Urban population (% of total population)                          3669 non-null   float64
 6   Merchandise imports (current US$)                                 3669 non-null   float64
 7   Merchandise exports (current US$)                                 3669 non-null   float64
 8   Population growth (annual %)                                      3669 non-null   float64
 9   Final consumption expenditure (annual % growth)                   3669 non-null   float64
 10  Alternative and nuclear energy (% of total energy use)            3669 non-null   float64
 11  Fossil fuel energy consumption (% of total)                       3669 non-null   float64
dtypes: float64(12)
memory usage: 372.6 KB

In [6]:
#Checking, are there any Nan's in dataframe.
print(len(data) - data.count())
#data.isnull()

Energy use (kg of oil equivalent per capita)                        0
GDP per capita growth (annual %)                                    0
CO2 emissions (metric tons per capita)                              0
Industry (including construction), value added (annual % growth)    0
Manufacturing, value added (annual % growth)                        0
Urban population (% of total population)                            0
Merchandise imports (current US$)                                   0
Merchandise exports (current US$)                                   0
Population growth (annual %)                                        0
Final consumption expenditure (annual % growth)                     0
Alternative and nuclear energy (% of total energy use)              0
Fossil fuel energy consumption (% of total)                         0
dtype: int64

In [125]:
#cols = data.columns.drop('Country Name')
#data[cols] = data[cols].apply(pd.to_numeric)
#data.dtypes

In [139]:
#1-hot for column 'Country Name'
#onehot = pd.get_dummies(data['Country Name']) 
#data = data.join(onehot)
#data = data.drop(columns='Country Name')

In [7]:
cols = list(data.columns)
#data[cols] = pd.to_numeric(data[cols])
#columns.remove('CO2 emissions (metric tons per capita)')
print(cols)
print(len(cols))

['Energy use (kg of oil equivalent per capita)', 'GDP per capita growth (annual %)', 'CO2 emissions (metric tons per capita)', 'Industry (including construction), value added (annual % growth)', 'Manufacturing, value added (annual % growth)', 'Urban population (% of total population)', 'Merchandise imports (current US$)', 'Merchandise exports (current US$)', 'Population growth (annual %)', 'Final consumption expenditure (annual % growth)', 'Alternative and nuclear energy (% of total energy use)', 'Fossil fuel energy consumption (% of total)']
12

In [8]:
#Remove predicting type
cols.remove('CO2 emissions (metric tons per capita)')
print(cols)
print(len(cols))

['Energy use (kg of oil equivalent per capita)', 'GDP per capita growth (annual %)', 'Industry (including construction), value added (annual % growth)', 'Manufacturing, value added (annual % growth)', 'Urban population (% of total population)', 'Merchandise imports (current US$)', 'Merchandise exports (current US$)', 'Population growth (annual %)', 'Final consumption expenditure (annual % growth)', 'Alternative and nuclear energy (% of total energy use)', 'Fossil fuel energy consumption (% of total)']
11

In [9]:
data.head()

      Energy use (kg of oil equivalent per capita)  ...  Fossil fuel energy consumption (% of total)
5551                                   1440.780224  ...                                    90.017182
5554                                   4694.676425  ...                                    92.775579
5555                                   2897.009398  ...                                    83.963760
5559                                    104.861607  ...                                    32.712616
5564                                    353.462764  ...                                     7.291785

[5 rows x 12 columns]

In [10]:
#Recursive method to find combinations in list
def combinations(L):
  if len(L) == 0:
    return [[]]
  result = []
  for c in combinations(L[1:]):
    result += [c, c+[L[0]]]
  return result

c = combinations(['x','y','z'])[1:]
print(c)

[['x'], ['y'], ['y', 'x'], ['z'], ['z', 'x'], ['z', 'y'], ['z', 'y', 'x']]

In [11]:
#Model with LinearRegression to predict the combination of features 
#that gives the smallest mean absolute error 

X = data[cols]
y = data[['CO2 emissions (metric tons per capita)']]

features = combinations(cols)[1:]
best = 100
combi = ""
for f in features:
  X_train, X_test, y_train, y_test = train_test_split(X[f].values, y.values, test_size=0.3, random_state=0)
  model = linear_model.LinearRegression()
  model.fit(X_train, y_train)
  y_pred = model.predict(X_test)

  result = np.mean(np.abs(y_test - y_pred))
  if result < best:
    best = result
    combi = f

print(combi)
print(result)

['Fossil fuel energy consumption (% of total)', 'Alternative and nuclear energy (% of total energy use)', 'Industry (including construction), value added (annual % growth)', 'GDP per capita growth (annual %)', 'Energy use (kg of oil equivalent per capita)']
1.0559951780266006