In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('andmed.csv')

In [7]:
df

,Time,Time Code,Country Name,Country Code,"Percentage of graduates from tertiary education graduating from Agriculture, Forestry, Fisheries and Veterinary programmes, both sexes (%) [SE.TER.GRAD.AG.ZS]",Government expenditure on education as % of GDP (%) [SE.XPD.TOTL.GD.ZS],"Enrolment in tertiary education, all programmes, both sexes (number) [SE.TER.ENRL]","Percentage of graduates from tertiary education graduating from Natural Sciences, Mathematics and Statistics programmes, both sexes (%) [SE.TER.GRAD.SC.ZS]","Enrolment in primary education, both sexes (number) [SE.PRM.ENRL]",CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC]
0,2020.0,YR2020,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN
1,2020.0,YR2020,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN
2,2020.0,YR2020,Algeria,DZA,NaN,NaN,NaN,NaN,NaN,NaN
3,2020.0,YR2020,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN
4,2020.0,YR2020,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN
5,2020.0,YR2020,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN
6,2020.0,YR2020,Antigua and Barbuda,ATG,NaN,NaN,NaN,NaN,NaN,NaN
7,2020.0,YR2020,Arab World,ARB,NaN,NaN,NaN,NaN,NaN,NaN
8,2020.0,YR2020,Argentina,ARG,NaN,NaN,NaN,NaN,NaN,NaN
9,2020.0,YR2020,Armenia,ARM,NaN,NaN,NaN,NaN,NaN,NaN
10,2020.0,YR2020,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN
11,2020.0,YR2020,Australia,AUS,NaN,NaN,NaN,NaN,NaN,NaN
12,2020.0,YR2020,Austria,AUT,NaN,NaN,NaN,NaN,NaN,NaN
13,2020.0,YR2020,Azerbaijan,AZE,NaN,NaN,NaN,NaN,NaN,NaN
14,2020.0,YR2020,"Bahamas, The",BHS,NaN,NaN,NaN,NaN,NaN,NaN
15,2020.0,YR2020,Bahrain,BHR,NaN,NaN,NaN,NaN,NaN,NaN
16,2020.0,YR2020,Bangladesh,BGD,NaN,NaN,NaN,NaN,NaN,NaN
17,2020.0,YR2020,Barbados,BRB,NaN,NaN,NaN,NaN,NaN,NaN
18,2020.0,YR2020,Belarus,BLR,NaN,NaN,NaN,NaN,NaN,NaN
19,2020.0,YR2020,Belgium,BEL,NaN,NaN,NaN,NaN,NaN,NaN
20,2020.0,YR2020,Belize,BLZ,NaN,NaN,NaN,NaN,NaN,NaN
21,2020.0,YR2020,Benin,BEN,NaN,NaN,NaN,NaN,NaN,NaN
22,2020.0,YR2020,Bermuda,BMU,NaN,NaN,NaN,NaN,NaN,NaN
23,2020.0,YR2020,Bhutan,BTN,NaN,NaN,1.224800e+04,NaN,94165.0,NaN
24,2020.0,YR2020,Bolivia,BOL,NaN,NaN,NaN,NaN,NaN,NaN
25,2020.0,YR2020,Bosnia and Herzegovina,BIH,NaN,NaN,NaN,NaN,NaN,NaN
26,2020.0,YR2020,Botswana,BWA,NaN,NaN,NaN,NaN,NaN,NaN
27,2020.0,YR2020,Brazil,BRA,NaN,NaN,NaN,NaN,NaN,NaN
28,2020.0,YR2020,British Virgin Islands,VGB,NaN,NaN,NaN,NaN,NaN,NaN
29,2020.0,YR2020,Brunei Darussalam,BRN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
13392,1970.0,YR1970,Turkey,TUR,NaN,NaN,NaN,NaN,NaN,1.222603
13393,1970.0,YR1970,Turkmenistan,TKM,NaN,NaN,NaN,NaN,NaN,NaN
13394,1970.0,YR1970,Turks and Caicos Islands,TCA,NaN,NaN,NaN,NaN,NaN,NaN
13395,1970.0,YR1970,Tuvalu,TUV,NaN,NaN,NaN,NaN,NaN,NaN
13396,1970.0,YR1970,Uganda,UGA,NaN,NaN,4.232000e+03,NaN,729522.0,0.153610
13397,1970.0,YR1970,Ukraine,UKR,NaN,4.57293,NaN,NaN,NaN,NaN
13398,1970.0,YR1970,United Arab Emirates,ARE,NaN,NaN,NaN,NaN,NaN,65.016954
13399,1970.0,YR1970,United Kingdom,GBR,NaN,NaN,NaN,NaN,NaN,11.732397
13400,1970.0,YR1970,United States,USA,NaN,NaN,NaN,NaN,NaN,21.111252
13401,1970.0,YR1970,Upper middle income,UMC,NaN,NaN,8.891125e+06,NaN,188462276.9,2.862150
13402,1970.0,YR1970,Uruguay,URY,NaN,NaN,NaN,NaN,354096.0,2.043753
13403,1970.0,YR1970,Uzbekistan,UZB,NaN,NaN,NaN,NaN,NaN,NaN
13404,1970.0,YR1970,Vanuatu,VUT,NaN,NaN,NaN,NaN,18250.0,0.472457
13405,1970.0,YR1970,"Venezuela, RB",VEN,NaN,4.16287,NaN,NaN,NaN,6.542518
13406,1970.0,YR1970,Vietnam,VNM,NaN,NaN,NaN,NaN,NaN,0.649680
13407,1970.0,YR1970,Virgin Islands (U.S.),VIR,NaN,NaN,NaN,NaN,NaN,NaN
13408,1970.0,YR1970,West Bank and Gaza,PSE,NaN,NaN,NaN,NaN,NaN,NaN
13409,1970.0,YR1970,World,WLD,NaN,NaN,3.197794e+07,NaN,401201714.7,0.004035
13410,1970.0,YR1970,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,0.027236
13411,1970.0,YR1970,Zambia,ZMB,NaN,4.38781,1.433000e+03,NaN,694670.0,0.902038
13412,1970.0,YR1970,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,735782.0,1.543255
13413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13414,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN