In [1]:
import pandas as pd
import numpy as np
import math

In [25]:
# Find 3 countries with the biggest CO2 overall emissions

df = pd.read_csv('andmed.csv')

In [3]:
emissions = {}
countries = set(df['Country Name'])

for country in countries:
    if country != 'World':
        years = df[df['Country Name'] == country]['CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC]']
        if len(years) != np.nan and len(years) > 0:
            average = sum(years) / len(years)    
            if not math.isnan(average):
                emissions[country] = average
            
#Three of the biggest poluters of CO2
sorted(emissions, key=emissions.get, reverse=True)[:3]

['Aruba', 'Qatar', 'United Arab Emirates']

In [4]:
#Just to check the overwhelming results
df[df['Country Name'] == 'Aruba']['CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC]'].tail()

11056    233.488931
11319    258.819846
11582    234.886548
11845    243.870306
12108    281.995733
Name: CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC], dtype: float64

In [5]:
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import RandomForestRegressor

In [32]:
#The best model
model = MultiOutputRegressor(estimator=RandomForestRegressor(
    bootstrap=True, 
    ccp_alpha=0.0, 
    criterion='mse', 
    max_depth=5,
    max_features='auto',
    max_leaf_nodes=None,
    max_samples=None, 
    min_impurity_decrease=0.0,
    min_impurity_split=None,
    min_samples_leaf=1, 
    min_samples_split=2, 
    min_weight_fraction_leaf=0.0, 
    n_estimators=100, 
    n_jobs=None,
    oob_score=False, 
    random_state=0, 
    verbose=0, 
    warm_start=False
))


fit_set = df.copy()
y = fit_set['CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC]']
fit_set = fit_set.drop(columns=['CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC]', 'Time', 'Time Code', 'Country Name', 'Country Code_y', 'Merchandise exports (current US$)','Merchandise imports (current US$)','Industry (including construction), value added (annual % growth)','Time', 'Country Name', 'Time Code', 'Country Code_y', 'CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC]', 'Percentage of graduates from tertiary education graduating from Agriculture, Forestry, Fisheries and Veterinary programmes, both sexes (%) [SE.TER.GRAD.AG.ZS]', 'Percentage of graduates from tertiary education graduating from Natural Sciences, Mathematics and Statistics programmes, both sexes (%) [SE.TER.GRAD.SC.ZS]', 'Government expenditure on education as % of GDP (%) [SE.XPD.TOTL.GD.ZS]'])
cols = list(fit_set.columns)
fit_set = fit_set.dropna()
fit_set = 
fit_set[cols] = fit_set[cols].apply(pd.to_numeric)

model.fit(fit_set, y)

KeyError: 'Percentage of graduates from tertiary education graduating from Agriculture, Forestry, Fisheries and Veterinary programmes, both sexes (%) [SE.TER.GRAD.AG.ZS]'

In [ ]:
results = [
    {'name': 'Aruba', 'original_results': [], 'new_results': []},
    {'name': 'Qatar', 'original_results': [], 'new_results': []},
    {'name': 'United Arab Emirates', 'original_results': [], 'new_results': []},
]

for country in results:
    country['original_results'] = df[df['Country Name'] == country['name']]['CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC]']

df = df.drop(columns='CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC]')

In [28]:
# c = df[df['Country Name'] == 'Aruba']

# model.predict(c)
df

,Time,Time Code,Country Name,"Percentage of graduates from tertiary education graduating from Agriculture, Forestry, Fisheries and Veterinary programmes, both sexes (%) [SE.TER.GRAD.AG.ZS]",Government expenditure on education as % of GDP (%) [SE.XPD.TOTL.GD.ZS],"Enrolment in tertiary education, all programmes, both sexes (number) [SE.TER.ENRL]","Percentage of graduates from tertiary education graduating from Natural Sciences, Mathematics and Statistics programmes, both sexes (%) [SE.TER.GRAD.SC.ZS]","Enrolment in primary education, both sexes (number) [SE.PRM.ENRL]",Energy use (kg of oil equivalent per capita),GDP per capita growth (annual %),...,"Manufacturing, value added (annual % growth)",Urban population (% of total population),Merchandise imports (current US$),Merchandise exports (current US$),Population growth (annual %),Final consumption expenditure (annual % growth),Alternative and nuclear energy (% of total energy use),Fossil fuel energy consumption (% of total),Country Code_y,CO2 emissions (metric tons per capita) [EN.ATM.CO2E.PC]
0,2016.0,YR2016,Afghanistan,NaN,4.22836,NaN,NaN,6265011.0,NaN,"-0,541697283",...,"1,087939531","25,02",6534000000,596000000,"2,778317409",NaN,NaN,NaN,AFG,0.245101
1,2016.0,YR2016,Albania,4.12656,3.96209,148597.0,4.66126,179564.0,NaN,"3,480117005",...,"4,541159357","58,421",4613000000,1959000000,"-0,159880412","2,437851728",NaN,NaN,ALB,1.577163
2,2016.0,YR2016,Algeria,1.35872,NaN,1439594.0,11.84467,4118362.0,NaN,"1,104567921",...,"6,028074388","71,459",47089000000,30026000000,"2,051354584","2,6",NaN,NaN,DZA,3.699156
3,2016.0,YR2016,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,"-2,645383249",...,NaN,"87,198",655000000,388000000,"-0,12729377",NaN,NaN,NaN,ASM,NaN
4,2016.0,YR2016,Andorra,0.00000,3.23707,548.0,0.00000,4248.0,NaN,"4,667654578",...,NaN,"88,248",1354000000,97000000,"-0,919469738",NaN,NaN,NaN,AND,6.072370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN